# OS
.DS_Store
Thumbs.db

# Temp
*~
*.swp

# Nix
/result
/result-*
/.direnv/
/.devenv/

# Editor
/.vscode/
/.idea/

# Agent
/.playwright-mcp/
/.claude/
/.codex/
/.opencode/

# Secret
*.plain
*.unencrypted
secrets.yaml
secrets.yml
!secrets/secrets.yaml
